<% provide(:title, 'About Trollster') %>

<div class="center jumbotron">
<h1>About Trollster</h1>

<p>
Trollster was devised because there was no microblogging site where a humanoid could share his thoughts and ideas in 140 charaters or less.
</p>
</div>


