<% provide(:title, 'Contact Trollster') %>


<div class="center jumbotron">

<h1>No One Wants To Talk You, Troll</h1>
<p>Stop contacting humans. This includes leaving long messages on voicemail. No one is listening.</p>

</div>



