<% provide(:title, 'Help') %>


<div class="center jumbotron">
<h1>There Is No Help For You</h1>
<p>You are just a dirty, smelly, filth troll. The best thing to do is get back in your hole.</a></p>
</div>




