<% provide(:title, 'All Trolls') %>

<h1>All Trolls</h1>

<div class="center"><%= will_paginate %></div>

<ul class="users">
	
	<%= render @users %>

</ul>

<div class="center"><%= will_paginate %></div>